In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import json

import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel("DataFrame.xlsx", index_col=0)
df.head()

,pre_text,post_text,table_ori,table,qa,table_retrieved,text_retrieved,table_retrieved_all,text_retrieved_all,Company Name,...,Number of Facts,Rows from Text or Table,Text or Table,Model Input,Number of Model Inputs,Top-N Facts,Number of Top-N Facts,Question,Explanations,Answer
0,interest rate variable interest rate based thr...,fair value forward exchange contract 10 10 unf...,"[['', 'October 31, 2009', 'November 1, 2008'],...","[['', 'october 31 2009', 'november 1 2008'], [...",{'question': 'what is the the interest expense...,"[{'score': -0.620767951011657, 'ind': 'table_1...","[{'score': 1.251369595527649, 'ind': 'text_1'}...","[{'score': -0.620767951011657, 'ind': 'table_1...","[{'score': 1.251369595527649, 'ind': 'text_1'}...",ADI,...,1,text_1,text,"[['text_0', 'interest rate to a variable inter...",3,"dollar , would have on the fair value of our f...",2,what is the the interest expense in 2009?,NaN,380
1,abiomed inc subsidiary note consolidated finan...,remaining unrecognized compensation expense ou...,"[['', 'Number of Shares (in thousands)', 'Weig...","[['', 'number of shares ( in thousands )', 'we...","{'question': 'during the 2012 year , did the e...","[{'score': 1.944458127021789, 'ind': 'table_2'}]","[{'score': 1.8354555368423462, 'ind': 'text_15...","[{'score': 1.944458127021789, 'ind': 'table_2'...","[{'score': 1.8354555368423462, 'ind': 'text_15...",ABMD,...,2,"table_2,text_15","table,text","[['table_2', 'the granted of number of shares ...",3,the remaining unrecognized compensation expens...,1,"during the 2012 year , did the equity awards i...",NaN,NaN
2,following table show annual aircraft fuel cons...,december 31 2018 fuel hedging contract outstan...,"[['Year', 'Gallons', 'Average Priceper Gallon'...","[['year', 'gallons', 'average priceper gallon'...",{'question': 'what was the total operating exp...,"[{'score': 1.610554456710815, 'ind': 'table_1'...","[{'score': -1.6479225158691402, 'ind': 'text_9...","[{'score': 1.610554456710815, 'ind': 'table_1'...","[{'score': -1.6479225158691402, 'ind': 'text_9...",AAL,...,1,table_1,table,"[['table_1', 'year the 2018 of gallons is 4447...",3,year gallons average price per gallon aircraft...,2,what was the total operating expenses in 2018 ...,the total operating expenses is obtained by di...,41932
3,fair value grant receivable determined using d...,third quarter 2013 sold share clearwire corpor...,"[['(In Millions)', 'Dec 28,2013', 'Dec 29,2012...","[['( in millions )', 'dec 282013', 'dec 292012...",{'question': 'what percentage of total cash an...,"[{'score': 2.993736505508423, 'ind': 'table_8'...","[{'score': -2.141725540161133, 'ind': 'text_9'...","[{'score': 2.993736505508423, 'ind': 'table_8'...","[{'score': -2.141725540161133, 'ind': 'text_9'...",INTC,...,2,"table_1,table_8","table,table","[['table_1', '( in millions ) the available-fo...",3,note 5 : cash and investments cash and investm...,1,what percentage of total cash and investments ...,NaN,53%
4,entergy louisiana llc management financial dis...,retail electric price variance primarily due c...,"[['', 'Amount (In Millions)'], ['2007 net reve...","[['', 'amount ( in millions )'], ['2007 net re...",{'question': 'what is the growth rate in net r...,"[{'score': 3.095985174179077, 'ind': 'table_6'...","[{'score': -0.5041980147361751, 'ind': 'text_2'}]","[{'score': 3.095985174179077, 'ind': 'table_6'...","[{'score': -0.5041980147361751, 'ind': 'text_2...",ETR,...,2,"table_1,table_6","table,table","[['table_1', 'the 2007 net revenue of amount (...",3,following is an analysis of the change in net ...,1,what is the growth rate in net revenue in 2008?,NaN,-3.2%

In [3]:
# Dropping the Unnecessary Columns

df = df.drop(columns =['table_retrieved', 'text_retrieved' , 'table_retrieved_all' , 'text_retrieved_all' , 
                       'Rows from Text or Table' , 'Model Input' , 'Top-N Facts' , 'Supporting Facts' , 'table_ori'])
df.head()

,pre_text,post_text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer
0,interest rate variable interest rate based thr...,fair value forward exchange contract 10 10 unf...,"[['', 'october 31 2009', 'november 1 2008'], [...",{'question': 'what is the the interest expense...,ADI,2009,49,"divide, divide",2,1,text,3,2,what is the the interest expense in 2009?,NaN,380
1,abiomed inc subsidiary note consolidated finan...,remaining unrecognized compensation expense ou...,"[['', 'number of shares ( in thousands )', 'we...","{'question': 'during the 2012 year , did the e...",ABMD,2012,75,"multiply, multiply, multiply, greater",4,2,"table,text",3,1,"during the 2012 year , did the equity awards i...",NaN,NaN
2,following table show annual aircraft fuel cons...,december 31 2018 fuel hedging contract outstan...,"[['year', 'gallons', 'average priceper gallon'...",{'question': 'what was the total operating exp...,AAL,2018,13,divide,1,1,table,3,2,what was the total operating expenses in 2018 ...,the total operating expenses is obtained by di...,41932
3,fair value grant receivable determined using d...,third quarter 2013 sold share clearwire corpor...,"[['( in millions )', 'dec 282013', 'dec 292012...",{'question': 'what percentage of total cash an...,INTC,2013,71,divide,1,2,"table,table",3,1,what percentage of total cash and investments ...,NaN,53%
4,entergy louisiana llc management financial dis...,retail electric price variance primarily due c...,"[['', 'amount ( in millions )'], ['2007 net re...",{'question': 'what is the growth rate in net r...,ETR,2008,313,"subtract, divide",2,2,"table,table",3,1,what is the growth rate in net revenue in 2008?,NaN,-3.2%

In [4]:
dh = pd.read_excel("PrePost_Column_Data.xlsx", index_col=0)
dh.head()

,pre_text,post_text
0,['interest rate to a variable interest rate ba...,['fair value of forward exchange contracts aft...
1,"['abiomed , inc .', 'and subsidiaries notes to...",['the remaining unrecognized compensation expe...
2,['the following table shows annual aircraft fu...,"['as of december 31 , 2018 , we did not have a..."
3,['the fair value of our grants receivable is d...,"['in the third quarter of 2013 , we sold our s..."
4,"[""entergy louisiana , llc management's financi...",['the retail electric price variance is primar...

In [5]:
def preprocess(raw_text):
    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z0-9]", " ", str(raw_text))
    
    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()
    return pd.Series([" ".join(tokens)])

In [6]:
dh['Pre_Text'] = dh['pre_text'].apply(lambda x: preprocess(x))
dh['Post_Text'] = dh['post_text'].apply(lambda x: preprocess(x))

In [7]:
dh = dh.drop(columns =['pre_text', 'post_text'])
dh.head()

,Pre_Text,Post_Text
0,interest rate to a variable interest rate base...,fair value of forward exchange contracts after...
1,abiomed inc and subsidiaries notes to consolid...,the remaining unrecognized compensation expens...
2,the following table shows annual aircraft fuel...,as of december 31 2018 we did not have any fue...
3,the fair value of our grants receivable is det...,in the third quarter of 2013 we sold our share...
4,entergy louisiana llc management s financial d...,the retail electric price variance is primaril...

In [8]:
result = pd.concat([dh, df], axis=1)
result = result.drop(columns =['pre_text', 'post_text'])
result['Financial Context'] = result['Pre_Text'] + result['table'] + result['Post_Text']
result.head()

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context
0,interest rate to a variable interest rate base...,fair value of forward exchange contracts after...,"[['', 'october 31 2009', 'november 1 2008'], [...",{'question': 'what is the the interest expense...,ADI,2009,49,"divide, divide",2,1,text,3,2,what is the the interest expense in 2009?,NaN,380,interest rate to a variable interest rate base...
1,abiomed inc and subsidiaries notes to consolid...,the remaining unrecognized compensation expens...,"[['', 'number of shares ( in thousands )', 'we...","{'question': 'during the 2012 year , did the e...",ABMD,2012,75,"multiply, multiply, multiply, greater",4,2,"table,text",3,1,"during the 2012 year , did the equity awards i...",NaN,NaN,abiomed inc and subsidiaries notes to consolid...
2,the following table shows annual aircraft fuel...,as of december 31 2018 we did not have any fue...,"[['year', 'gallons', 'average priceper gallon'...",{'question': 'what was the total operating exp...,AAL,2018,13,divide,1,1,table,3,2,what was the total operating expenses in 2018 ...,the total operating expenses is obtained by di...,41932,the following table shows annual aircraft fuel...
3,the fair value of our grants receivable is det...,in the third quarter of 2013 we sold our share...,"[['( in millions )', 'dec 282013', 'dec 292012...",{'question': 'what percentage of total cash an...,INTC,2013,71,divide,1,2,"table,table",3,1,what percentage of total cash and investments ...,NaN,53%,the fair value of our grants receivable is det...
4,entergy louisiana llc management s financial d...,the retail electric price variance is primaril...,"[['', 'amount ( in millions )'], ['2007 net re...",{'question': 'what is the growth rate in net r...,ETR,2008,313,"subtract, divide",2,2,"table,table",3,1,what is the growth rate in net revenue in 2008?,NaN,-3.2%,entergy louisiana llc management s financial d...

In [9]:
result = result.fillna(0)

In [10]:
# result.to_excel("Result.xlsx")

In [11]:
df_train = result.iloc[:6251]
df_train.head()

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context
0,interest rate to a variable interest rate base...,fair value of forward exchange contracts after...,"[['', 'october 31 2009', 'november 1 2008'], [...",{'question': 'what is the the interest expense...,ADI,2009,49,"divide, divide",2,1,text,3,2,what is the the interest expense in 2009?,0,380,interest rate to a variable interest rate base...
1,abiomed inc and subsidiaries notes to consolid...,the remaining unrecognized compensation expens...,"[['', 'number of shares ( in thousands )', 'we...","{'question': 'during the 2012 year , did the e...",ABMD,2012,75,"multiply, multiply, multiply, greater",4,2,"table,text",3,1,"during the 2012 year , did the equity awards i...",0,0,abiomed inc and subsidiaries notes to consolid...
2,the following table shows annual aircraft fuel...,as of december 31 2018 we did not have any fue...,"[['year', 'gallons', 'average priceper gallon'...",{'question': 'what was the total operating exp...,AAL,2018,13,divide,1,1,table,3,2,what was the total operating expenses in 2018 ...,the total operating expenses is obtained by di...,41932,the following table shows annual aircraft fuel...
3,the fair value of our grants receivable is det...,in the third quarter of 2013 we sold our share...,"[['( in millions )', 'dec 282013', 'dec 292012...",{'question': 'what percentage of total cash an...,INTC,2013,71,divide,1,2,"table,table",3,1,what percentage of total cash and investments ...,0,53%,the fair value of our grants receivable is det...
4,entergy louisiana llc management s financial d...,the retail electric price variance is primaril...,"[['', 'amount ( in millions )'], ['2007 net re...",{'question': 'what is the growth rate in net r...,ETR,2008,313,"subtract, divide",2,2,"table,table",3,1,what is the growth rate in net revenue in 2008?,0,-3.2%,entergy louisiana llc management s financial d...

In [12]:
df_test = result.iloc[6251:7398]
df_test.head()

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context
0,entergy corporation and subsidiaries managemen...,the retail electric price variance is primaril...,"[['', 'amount ( in millions )'], ['2014 net re...",{'question': 'what is the net change in net re...,ETR,2016,23,subtract,1,2,"table,table",3,1,what is the net change in net revenue during 2...,0,94,entergy corporation and subsidiaries managemen...
1,item 1b unresolved staff comments not applicab...,1 leases on portions of the land used for thes...,"[['( square feet in millions )', 'unitedstates...",{'question': 'what percentage of total facilit...,INTC,2015,41,divide,1,2,"table,table",3,1,what percentage of total facilities as measure...,0,14%,item 1b unresolved staff comments not applicab...
2,undesignated hedges was 41 2 million and 42 1 ...,the amounts earned and owed under the swap agr...,"[['statement of income classification', 'state...",{'question': 'what is the percentage change in...,ADI,2011,61,"subtract, divide",2,1,text,3,2,what is the percentage change in cash flow hed...,0,9.9%,undesignated hedges was 41 2 million and 42 1 ...
3,chairman and a director of the board of fis as...,we recorded a preliminary allocation of the pu...,"[['value of metavante common stock', '$ 4066.4...",{'question': 'what portion of total purchase p...,FIS,2010,70,divide,1,2,"table,table",3,1,what portion of total purchase price is relate...,0,2.9%,chairman and a director of the board of fis as...
4,performance graph the table below compares the...,50 00 100 00 150 00 200 00 250 00 300 00 350 0...,"[['', '2013', '2014', '2015', '2016', '2017'],...",{'question': 'what was the difference in perce...,MAS,2017,27,"subtract, divide, subtract, divide, subtract",5,2,"table,table",3,1,what was the difference in percentage cumulati...,0,0,performance graph the table below compares the...

In [13]:
df_dev = result.iloc[7398:]
df_dev.head()

,Pre_Text,Post_Text,table,qa,Company Name,Year of Publication,Page_Number,Operations,Number of Operations,Number of Facts,Text or Table,Number of Model Inputs,Number of Top-N Facts,Question,Explanations,Answer,Financial Context
0,largest operators of open loop and closed loop...,1 visa inc figures as reported previously in o...,"[['company', 'payments volume ( billions )', '...",{'question': 'what is the average payment volu...,V,2008,17,divide,1,1,table,3,2,what is the average payment volume per transac...,0,127.40,largest operators of open loop and closed loop...
1,performance graph comparison of five year cumu...,,"[['date', 'citi', 's&p 500', 's&p financials']...",{'question': 'what was the percentage cumulati...,C,2017,328,"subtract, divide",2,2,"table,table",3,1,what was the percentage cumulative total retur...,0,93.5%,performance graph comparison of five year cumu...
2,the acquisition date is on or after the beginn...,,"[['', 'oil ( mmbbls )', 'gas ( bcf )', 'ngls (...",{'question': 'what percentage of the total oil...,DVN,2007,58,"divide, multiply",2,3,"table,table,text",3,0,what percentage of the total oil and gas mmboe...,0,24.69%,the acquisition date is on or after the beginn...
3,entergy mississippi inc management 2019s finan...,the volume weather variance is primarily due t...,"[['', 'amount ( in millions )'], ['2009 net re...",{'question': 'in 2010 what was the net change ...,ETR,2011,341,add,1,2,"table,table",3,1,in 2010 what was the net change in net revenue...,0,18.6,entergy mississippi inc management 2019s finan...
4,entergy louisiana inc management s financial d...,the deferred fuel cost revisions variance resu...,"[['', '( in millions )'], ['2002 net revenue',...",{'question': 'what are the deferred fuel cost ...,ETR,2004,213,divide,1,3,"table,text,text",3,0,what are the deferred fuel cost revisions as a...,0,60.3%,entergy louisiana inc management s financial d...

In [14]:
def inputOutputSplit(df):
    Y = df["Answer"]
    X = df.drop(['Answer'], axis=1)
    return X,Y

In [15]:
X_train,Y_train = inputOutputSplit(df_train)

In [16]:
X_test,Y_test = inputOutputSplit(df_test)

In [17]:
X_dev,Y_dev = inputOutputSplit(df_dev)

**(A) ChatGPT Models:**

In [18]:
!pip install -q openai
!pip install openai

Requirement already satisfied: openai in c:\users\somil\anaconda3\lib\site-packages (1.12.0)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\somil\anaconda3\lib\site-packages (from openai) (3.5.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\somil\anaconda3\lib\site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\somil\anaconda3\lib\site-packages (from openai) (0.26.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\somil\anaconda3\lib\site-packages (from openai) (2.6.1)
Requirement already satisfied: sniffio in c:\users\somil\anaconda3\lib\site-packages (from openai) (1.2.0)
Requirement already satisfied: tqdm>4 in c:\users\somil\anaconda3\lib\site-packages (from openai) (4.65.0)
Requirement already satisfied: typing-extensions<5,>=4.7 in c:\users\somil\anaconda3\lib\site-packages (from openai) (4.9.0)
Requirement already satisfied: idna>=2.8 in c:\users\somil\anaconda3\lib\site-packages (from anyio<5,>=3.5.0->openai) (3.4)
Requirement already satisfied: certifi in c:\users\somil\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->openai) (2023.7.22)
Requirement already satisfied: httpcore==1.* in c:\users\somil\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->openai) (1.0.3)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\somil\anaconda3\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\somil\anaconda3\lib\site-packages (from pydantic<3,>=1.9.0->openai) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.2 in c:\users\somil\anaconda3\lib\site-packages (from pydantic<3,>=1.9.0->openai) (2.16.2)
Requirement already satisfied: colorama in c:\users\somil\anaconda3\lib\site-packages (from tqdm>4->openai) (0.4.6)

In [19]:
import openai

In [20]:
openai.api_key = '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'
# openai.api_key = "private"

In [21]:
context = df_train['Financial Context'][0]

In [22]:
question = df_train['Question'][0]
question

'what is the the interest expense in 2009?'

In [23]:
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""
 
response_0 = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": CONTENT},
    ],
    temperature=0.6,
)

print(response_0.choices[0].message.content)

3.8 million

The interest expense in 2009 is mentioned as 3.8 million in the provided context. This expense would change based on the three-month LIBOR rate plus 2.05% or 2.34%. The interest expense is not directly related to the foreign currency exchange rates or the forward exchange contracts mentioned in the table data.

In [24]:
context = df_train['Financial Context'][2]

In [25]:
question = df_train['Question'][2]
question

'what was the total operating expenses in 2018 in millions'

In [26]:
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""
 
response_2 = openai.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": CONTENT},
    ],
    temperature=0.6,
)

print(response_2.choices[0].message.content)

$41.9 million
To calculate the total operating expenses in 2018, we need to consider the aircraft fuel expense as a percentage of the total operating expenses. From the table data, we can see that the aircraft fuel expense for 2018 was $9.896 million, which is 23.6% of the total operating expenses. So, to find the total operating expenses, we can set up the equation: Total Operating Expenses = Aircraft Fuel Expense / (Percentage of Total Operating Expenses / 100). Substituting the values, we get Total Operating Expenses = $9.896 million / (23.6 / 100) = $41.9 million. Therefore, the total operating expenses in 2018 were $41.9 million.

**(B) PaLM Model:**

In [27]:
import google.generativeai as palm
import pathlib
import textwrap
from IPython.display import display
from IPython.display import Markdown

In [28]:
api_key = 'AIzaSyBmtClkv_8zUqhgRgv180k0RLHs1mFRIJ8'

In [29]:
palm.configure(api_key = api_key)

In [30]:
models = [m for m in palm.list_models() if 'generateText' in m.supported_generation_methods]
model = models[0].name
print(model)

models/text-bison-001

In [31]:
context = df_test['Financial Context'][0]
question = df_test['Question'][0]
question

'what is the net change in net revenue during 2015 for entergy corporation?'

In [32]:
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""

In [33]:
# Max output tokens: Specifies the maximum number of tokens that can be generated in the response. 
# A token is approximately four characters. 100 tokens correspond to roughly 60-80 words.
# 100 tokens correspond to roughly 60-80 words.

text = palm.generate_text(prompt = CONTENT , 
                          model = model , 
                         temperature = 0.6 ,
                         max_output_tokens = 1000 ,
                         top_p = 0.9 ,
                         top_k = 300)
output = text.result
print(output)

94

In [34]:
context = df_test['Financial Context'][2]
question = df_test['Question'][2]
question

'what is the percentage change in cash flow hedges in 2011 compare to the 2010?'

In [35]:
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""

text = palm.generate_text(prompt = CONTENT , 
                          model = model , 
                         temperature = 0.6 ,
                         max_output_tokens = 1000 ,
                         top_p = 0.5 ,
                         top_k = 100)
output = text.result
print(output)

9 0

PaLM model suffers a lot of Error like : **InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting**

**(C) Google Gemini Pro LLM Model :**

In [36]:
# !pip install google-generativeai

In [37]:
import google.generativeai as genai

In [38]:
GOOGLE_API_KEY = 'AIzaSyBa_WFrzDCk1qvwkdZq78opZtuQouzOIJU'

In [39]:
context = df_train['Financial Context'][0]
question = df_train['Question'][0]
question

'what is the the interest expense in 2009?'

In [40]:
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""

genai.configure(api_key = GOOGLE_API_KEY)

# Set up the model
generation_config = {
  "temperature": 0.6,
  "top_p": 0.7,
  "top_k": 100,
  "max_output_tokens": 2048,
}

model = genai.GenerativeModel(model_name = 'gemini-pro' , generation_config = generation_config)

prompt_parts = CONTENT
response = model.generate_content(prompt_parts)
print(response.text)

Answer :
3.8
Explanation :
The context does not mention anything about the interest expense in 2009, so the question cannot be answered.

In [41]:
context = df_test['Financial Context'][0]
question = df_test['Question'][0]
question

'what is the net change in net revenue during 2015 for entergy corporation?'

In [42]:
CONTENT = f"""Based on the Context provided, consisting of the Pre-Text , Tabular Data , and the Post-Text Data, answer the 
Financial Question mentioned below. Since calculating Financial Answers involve Numerical Computations, there are a maximum of 
6 Mathematical Operations that should be used : Add , Subtract , Multiply , Divide , Greater , Exponential. And a maximum of 4 
Table Aggregation Operations that should be used : Table Maximum , Table Minimum , Table Sum , Table Average.
The 6 Mathematical Operations are for the Unstructured Text Data , and the 4 Table Aggregation Operations are for the Structured
Tabular Data.

Also, along with answering the Financial Question mentioned, provide a complete 
Explanation to understand how to reach at this Solution of the Financial Question generated. Means that in First Line, generate 
only the numerical answer, and then in the next line, generate the explanation.

Note: While generating answers, look carefully at the numbers which are present in the Structured Tabular Data, and do not get
confused between the symbols like decimal(".") and comma(","). For example: 7,832 should be considered as 7832 and not 7.832.
Be strict on noticing whether any number has decimal or comma, as it could change the answer a lot. 

Context : {context}
Question: {question}
 
Answer :
Explanation : 

"""

genai.configure(api_key = GOOGLE_API_KEY)

# Set up the model
generation_config = {
  "temperature": 0.6,
  "top_p": 0.7,
  "top_k": 100,
  "max_output_tokens": 2048,
}

model = genai.GenerativeModel(model_name = 'gemini-pro' , generation_config = generation_config)

prompt_parts = CONTENT
response = model.generate_content(prompt_parts)
print(response.text)

Answer :
94

Explanation :
The net revenue for 2014 is 5735 million dollars and the net revenue for 2015 is 5829 million dollars. So the net change in net revenue during 2015 is 5829 - 5735 = 94 million dollars.

**Out of OpenAI , Google PaLM and Google Gemini Pro Model, the best Question-Answer Responses are shown by OpenAI Model.**